@charset "UTF-8";
/* Reset  - Configuración básica de mis estilos*/
* {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

@keyframes bicis {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes bicisHover {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes botonhome {
  0% {
    background-color: #016fb9;
    transform: scale(1);
    border: 1px solid #f2dd6e;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    background-color: #f2dd6e;
    color: black;
    text-shadow: 0px 1px 0px #f5e8a8;
    font-weight: bold;
  }
}
@keyframes cmBg {
  from {
    background-color: whitesmoke;
  }
  to {
    background: linear-gradient(270deg, rgba(204, 199, 193, 0.3019607843) 0%, #f4f7f5 100%);
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*CSS GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 2fr 1fr 0.3fr;
  grid-template-areas: "header header" "contenido-principal contenido-principal" "contenido-principal contenido-principal" "contenido-principal contenido-principal" "footer footer";
  min-height: 100vh;
  overflow: hidden;
  background-color: #f4f7f5;
}

/*HEADER*/
.header {
  background-color: #f2dd6e;
  padding: 10px;
  text-align: center;
  grid-area: header;
  grid-column: 1/3;
  grid-row: 1/2;
  box-shadow: inset 9px 9px 9px 9px #f5e8a8;
}

.cabeceraContenedor a img {
  height: none;
  width: 13rem;
}

.logoweb {
  filter: drop-shadow(0px 5px 15px #f4f7f5);
}

.cabeceraMenu li a {
  color: #040d12;
  font-size: 1rem;
  text-transform: uppercase;
}
.cabeceraMenu li a:hover {
  font-weight: bold;
}

/*HOME*/
.contenido-principal {
  grid-area: contenido-principal;
  margin-top: 3rem;
  grid-row: 2/5;
  grid-column: 1/3;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  animation-name: tracking-in-expand;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: both;
}

.fotoHome {
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotoHome > img {
  min-width: 100vw;
  border-radius: 15px;
}

.sectionHome {
  width: 75%;
  margin: 1.5rem auto;
  padding: 2rem;
}
.sectionHome h2 {
  background-color: #e7e4e7;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 2rem;
}

.parrafoHome {
  text-align: justify;
}

.buttonHome {
  text-align: center;
}

.boton {
  background-color: #016fb9;
  text-shadow: 0px 1px 0px #8bbcdc;
  color: white;
  box-shadow: 10px 10px 72px 1px rgba(140, 140, 140, 0.7490196078);
}
.boton:hover {
  animation-name: botonhome;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/*CARDS*/
.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjeta:hover {
  animation-name: cmBg;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.parrafoTarjeta {
  margin: 1em;
  padding: 20px;
  max-width: 600px;
  text-align: justify;
  line-height: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 10px rgba(204, 199, 193, 0.3019607843);
}

.fotoTarjeta {
  margin: 1em;
  max-width: 45%;
}
.fotoTarjeta:hover {
  opacity: 0.8;
}

/*PRODUCTOS*/
.bicicletas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagenGrid {
  width: 25%;
  margin: 10px;
  /* border: 1px solid black; */
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  animation-name: bicis;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.imagenGrid:hover {
  animation-name: bicisHover;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  /* 
  opacity: 0.7;
  transform: scale(1.1); */
}

.textoProducto {
  font-size: 1.5em;
  text-align: justify;
  width: 60%;
  margin: 2em auto;
  /* text-align: justify; */
}
.textoProducto h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/*Formulario Bootstrap personalizado*/
.form-carlos {
  background-color: #e7e4e7;
}
.form-carlos:focus {
  box-shadow: 3px 3px 3px 3px #f2dd6e;
  border-color: #f2dd6e;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 1fr 0.5;
  grid-area: footer;
  grid-row: 5/6;
  grid-column: 1/3;
  background-color: #f2dd6e;
}

.menuFooter {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuFooter ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.menuFooter ul li {
  list-style: none;
  /*elimina estilos por defecto*/
  margin: 1rem;
}
.menuFooter ul li a {
  color: #040d12;
  text-decoration: none;
  /*quita underline*/
  font-size: 0.9em;
  text-transform: uppercase;
}
.menuFooter ul li a:hover {
  color: #333333;
  font-weight: bold;
}

.activo {
  font-weight: bold;
}

/*iconos RRSS footer*/
.rrss {
  grid-column: 2/3;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.fa-facebook {
  font-size: 2rem;
}
.fa-facebook:hover {
  box-shadow: 5px 5px 5px #016fb9;
}

.fa-instagram {
  font-size: 2rem;
}
.fa-instagram:hover {
  box-shadow: 5px 5px 5px #ff5571;
}

.fa-tiktok {
  font-size: 2rem;
}
.fa-tiktok:hover {
  box-shadow: 5px 5px 5px black;
}

/*TABLET*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
  /*HOME*/
  .sectionHome {
    width: 100%;
  }
  .sectionHome > h2 {
    font-size: 1rem;
    font-weight: 550;
  }
  .fotoHome > img {
    border-radius: 5px;
  }
  .tarjeta {
    flex-direction: column;
  }
  .fotoTarjeta {
    max-width: 100%;
  }
  .parrafoTarjeta {
    max-width: 85%;
    padding: 0;
  }
  .titulo {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  /*PRODUCTO*/
  .textoProducto {
    font-size: 1.5rem;
    width: 80%;
    padding: 1em;
  }
  /*MENU FOOTER*/
  .menuFooter ul {
    flex-direction: column;
  }
  .menuFooter ul li {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
}
/*MOVIL*/
@media only screen and (max-width: 500px) {
  .cabeceraContenedor a img {
    height: none;
    width: 11rem;
  }
  /*HOME*/
  .sectionHome {
    width: 100%;
  }
  .sectionHome > h2 {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .fotoHome > img {
    border-radius: 2px;
  }
  .tarjeta {
    flex-direction: column;
  }
  .fotoTarjeta {
    max-width: 100%;
  }
  .parrafoTarjeta {
    max-width: 90%;
    padding: 0;
  }
  .parrafoTarjeta h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .bicicletas {
    flex-direction: column;
  }
  .imagenGrid {
    width: 90%;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
  }
  .titulo {
    font-size: 1.6rem;
  }
  /*PRODUCTO*/
  .textoProducto {
    width: 100%;
    padding: 1em;
  }
  /* FOOTER*/
  .menuFooter ul {
    flex-direction: column;
  }
  .menuFooter ul li {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
  .rrss {
    flex-direction: column;
    justify-self: center;
    height: 70%;
  }
  .rrss i {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
