@charset "UTF-8";
/* Reset  - Configuración básica de mis estilos*/
* {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

@keyframes bicis {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes bicisHover {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}
@keyframes botonhome {
  0% {
    background-color: #016fb9;
    transform: scale(1);
    border: 1px solid #f2dd6e;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    background-color: #f2dd6e;
    color: black;
    text-shadow: 0px 1px 0px #f5e8a8;
    font-weight: bold;
  }
}
@keyframes cmBg {
  from {
    background-color: whitesmoke;
  }
  to {
    background: linear-gradient(270deg, rgba(204, 199, 193, 0.3019607843) 0%, #f4f7f5 100%);
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*CSS GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 2fr 1fr 0.3fr;
  grid-template-areas: "header header" "contenido-principal contenido-principal" "contenido-principal contenido-principal" "contenido-principal contenido-principal" "footer footer";
  min-height: 100vh;
  overflow: hidden;
  background-color: #f4f7f5;
}

/*HEADER*/
.header {
  background-color: #f2dd6e;
  padding: 10px;
  text-align: center;
  grid-area: header;
  grid-column: 1/3;
  grid-row: 1/2;
  box-shadow: inset 9px 9px 9px 9px #f5e8a8;
}
.header--navbar--contenedor a img {
  height: none;
  width: 13rem;
}
.header--navbar--contenedor--logo {
  filter: drop-shadow(0px 5px 15px #f4f7f5);
}

.listaMenu > li > a {
  color: #040d12;
  font-size: 1rem;
  text-transform: uppercase;
}
.listaMenu > li > a:hover {
  font-weight: bold;
}

/*HOME*/
.contenido-principal {
  grid-area: contenido-principal;
  margin-top: 3rem;
  grid-row: 2/5;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}

/*BREADCRUMB*/
.contenedor--breadcrumb {
  margin-left: 60px;
  font-size: 0.8rem;
}

.breadcrumb-item {
  font-size: 0.8rem;
}
.breadcrumb-item > a {
  font-size: 0.8rem;
  color: #333333;
}

.titulo, .titulo--home {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  animation-name: tracking-in-expand;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: both;
}
.titulo--home {
  position: absolute;
  color: white;
  font-weight: 600;
  top: 30px;
}

.imagen--home {
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.imagen--home > img {
  min-width: 100vw;
  border-radius: 15px;
}

.sectionHome {
  width: 80%;
  margin: 1.5rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.sectionHome--texto {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #e7e4e7;
  padding: 1.8rem;
}
.sectionHome--texto > h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.sectionHome > h3 {
  font-size: 1rem;
  margin: 1rem;
  font-weight: 600;
}
.sectionHome > p {
  margin: 0 1rem 1rem 1rem;
  text-align: justify;
}
.sectionHome--boton {
  text-align: center;
}
.sectionHome--boton--texto {
  background-color: #016fb9;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 10px 10px 72px 1px rgba(140, 140, 140, 0.7490196078);
}
.sectionHome--boton--texto:hover {
  animation-name: botonhome;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/*CARDS*/
.servicio--tarjeta {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
}
.servicio--tarjeta--foto {
  margin: 1em;
  max-width: 50%;
}
.servicio--tarjeta--foto:hover {
  opacity: 0.8;
  border: 2px solid black;
}
.servicio--tarjeta--texto {
  margin: 1rem;
  padding: none;
  background-color: #f4f7f5;
  text-align: justify;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.servicio--tarjeta--texto--titulo {
  border-bottom: 2px solid black;
}
.servicio--tarjeta--texto--parrafo {
  border-left: 2px solid black;
  margin: 0;
  padding: 0.7rem;
}
.servicio--tarjeta--texto--parrafo > p {
  margin-bottom: 0;
}

/*PRODUCTOS*/
.bicicletas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagenGrid {
  width: 25%;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
  animation-name: bicis;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.imagenGrid:hover {
  animation-name: bicisHover;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.producto {
  margin: 2em auto;
  width: 60%;
}
.producto--logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
}
.producto--logo > img {
  max-width: 10%;
}
.producto > h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.producto > p {
  text-align: justify;
}
.producto--foto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
}
.producto--foto > img {
  max-width: 50%;
}

/*Formulario Bootstrap personalizado*/
.form-carlos {
  background-color: #e7e4e7;
}
.form-carlos:focus {
  box-shadow: 3px 3px 3px 3px #f2dd6e;
  border-color: #f2dd6e;
}

.contact {
  max-width: 60%;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 1fr 0.5;
  grid-area: footer;
  grid-row: 5/6;
  grid-column: 1/3;
  background-color: #f2dd6e;
}

.menuFooter {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuFooter ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.menuFooter ul li {
  list-style: none;
  /*elimina estilos por defecto*/
  margin: 1rem;
}
.menuFooter ul li a {
  color: #040d12;
  text-decoration: none;
  /*quita underline*/
  font-size: 0.9em;
  text-transform: uppercase;
}
.menuFooter ul li a:hover {
  color: #333333;
  font-weight: bold;
}

.activo {
  font-weight: bold;
}

/*iconos RRSS footer*/
.rrss {
  grid-column: 2/3;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

.fa-facebook {
  font-size: 2rem;
}
.fa-facebook:hover {
  box-shadow: 5px 5px 5px #016fb9;
}

.fa-instagram {
  font-size: 2rem;
}
.fa-instagram:hover {
  box-shadow: 5px 5px 5px #ff5571;
}

.fa-tiktok {
  font-size: 2rem;
}
.fa-tiktok:hover {
  box-shadow: 5px 5px 5px black;
}

/*TABLET*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
  /*RESET*/
  * {
    font-size: 16px;
  }
  /*HOME*/
  .sectionHome {
    width: 100%;
  }
  .sectionHome--texto > h2 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .sectionHome > p {
    font-size: 0.9rem;
  }
  .imagen--home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .imagen--home > img {
    border-radius: 5px;
    width: 100%;
  }
  .contenedor--breadcrumb {
    margin-left: 20px;
    font-size: 0.8rem;
  }
  .servicio--tarjeta {
    flex-direction: column;
  }
  .servicio--tarjeta--foto {
    max-width: 100%;
  }
  .servicio--tarjeta--texto--titulo {
    padding: 1rem;
  }
  .servicio--tarjeta--texto--parrafo {
    max-width: 90%;
    box-shadow: none;
    padding: 3rem;
  }
  .titulo, .titulo--home {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
    color: #333333;
    top: 0px;
  }
  /*PRODUCTO*/
  .producto {
    margin: 1em auto;
    width: 80%;
    padding: 1em;
  }
  .producto--logo > img {
    max-width: 20%;
  }
  .producto--foto > img {
    max-width: 70%;
  }
  /*FORMULARIO*/
  .contact {
    max-width: 90%;
  }
  /*MENU FOOTER*/
  .menuFooter ul {
    flex-direction: column;
  }
  .menuFooter ul li {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
}
/*MOVIL*/
@media only screen and (max-width: 500px) {
  .cabeceraContenedor a img {
    height: none;
    width: 11rem;
  }
  /*RESET*/
  * {
    font-size: 14px;
  }
  /*HOME*/
  .sectionHome {
    width: 100%;
  }
  .sectionHome--texto > h2 {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .sectionHome > p {
    font-size: 0.8rem;
  }
  .imagen--home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .imagen--home > img {
    border-radius: 2px;
    height: 200px;
  }
  .contenedor--breadcrumb {
    margin-left: 5px;
    font-size: 0.8rem;
  }
  .servicio--tarjeta {
    flex-direction: column;
  }
  .servicio--tarjeta--foto {
    max-width: 100%;
  }
  .servicio--tarjeta--texto--titulo {
    padding: 1rem;
  }
  .servicio--tarjeta--texto--parrafo {
    max-width: 90%;
    box-shadow: none;
    padding-left: 1rem;
  }
  .bicicletas {
    flex-direction: column;
  }
  .imagenGrid {
    width: 90%;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
  }
  .titulo, .titulo--home {
    top: 0px;
    font-size: 1.3rem;
    position: relative;
    color: #333333;
  }
  /*PRODUCTO*/
  .producto {
    width: 100%;
    padding: 1em;
    margin: 1em auto;
  }
  .producto--logo > img {
    max-width: 20%;
  }
  .producto--foto > img {
    max-width: 100%;
  }
  /*FORMULARIO CONTACTO*/
  .contact {
    max-width: 90%;
  }
  /* FOOTER*/
  .menuFooter ul {
    flex-direction: column;
  }
  .menuFooter ul li {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
  .rrss {
    flex-direction: column;
    justify-self: center;
    height: 70%;
  }
  .rrss i {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
