@charset "UTF-8";
/* Reset  - Configuración básica de mis estilos*/
* {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

/*CSS GRID*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 2fr 1fr 0.3fr;
  grid-template-areas: "header header" "contenido-principal contenido-principal" "contenido-principal contenido-principal" "contenido-principal contenido-principal" "footer footer";
  min-height: 100vh;
  overflow: hidden;
  background-color: #f4f7f5;
}

/*HEADER*/
.header {
  background-color: #f2dd6e;
  padding: 10px;
  text-align: center;
  grid-area: header;
  grid-column: 1/3;
  grid-row: 1/2;
}

.cabecera {
  font-weight: bolder;
}
.cabecera li a {
  color: #040D12;
  font-weight: lighter;
  font-size: 1rem;
  text-transform: uppercase;
}
.cabecera li a:hover {
  font-weight: bold;
}

/*HOME*/
.contenido-principal {
  grid-area: contenido-principal;
  margin-top: 3rem;
  grid-row: 2/5;
  grid-column: 1/3;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.fotoHome {
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotoHome > img {
  min-width: 100vw;
}

.sectionHome {
  width: 75%;
  margin: 1.5rem auto;
  padding: 2rem;
}
.sectionHome h2 {
  background-color: #e7e4e7;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 2rem;
}

.parrafoHome {
  text-align: justify;
}

.boton {
  background-color: #016fb9;
  text-align: center;
  color: white;
}
.boton:hover {
  background-color: #f2dd6e;
  color: black;
  font-weight: bold;
}

/*CARDS*/
.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tarjeta:hover {
  background-color: rgba(204, 199, 193, 0.3019607843);
}

.parrafoTarjeta {
  margin: 1em;
  max-width: 600px;
  text-align: justify;
  padding: 20px;
  line-height: 1.5rem;
}

.fotoTarjeta {
  margin: 1em;
  max-width: 45%;
}
.fotoTarjeta:hover {
  opacity: 0.8;
}

/*PRODUCTOS*/
.bicicletas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imagenGrid {
  width: 25%;
  margin: 10px;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: white;
}
.imagenGrid:hover {
  opacity: 0.7;
}

.textoProducto {
  font-size: 1.5em;
  text-align: center;
  width: 60%;
  margin: 3em auto;
  text-align: justify;
}
.textoProducto h2 {
  text-align: center;
}

/*Formulario Bootstrap personalizado*/
.form-carlos {
  background-color: #e7e4e7;
}
.form-carlos:focus {
  box-shadow: 3px 3px 3px 3px #f2dd6e;
  border-color: #f2dd6e;
}

/*FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 1fr 0.5;
  grid-area: footer;
  grid-row: 5/6;
  grid-column: 1/3;
  background-color: #f2dd6e;
}

.menuFooter {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuFooter ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.menuFooter ul li {
  list-style: none;
  /*elimina estilos por defecto*/
  margin: 1rem;
}
.menuFooter ul li a {
  color: #040D12;
  text-decoration: none;
  /*quita underline*/
  font-size: 0.9em;
  text-transform: uppercase;
}
.menuFooter ul li a:hover {
  color: #333333;
  font-weight: bold;
}

.activo {
  font-weight: bold;
}

/*iconos RRSS footer*/
.rrss {
  grid-column: 2/3;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}
.rrss i {
  font-size: 2rem;
}
.rrss i:hover {
  opacity: 0.5;
}

/*TABLET*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
  /*HOME*/
  .sectionHome {
    width: 100%;
  }
  .sectionHome > h2 {
    font-size: 1rem;
    font-weight: 550;
  }
  .tarjeta {
    flex-direction: column;
  }
  .fotoTarjeta {
    max-width: 100%;
  }
  .parrafoTarjeta {
    max-width: 85%;
    padding: 0;
  }
  .titulo {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  /*PRODUCTO*/
  .textoProducto {
    font-size: 1.5rem;
    width: 80%;
    padding: 1em;
  }
  /*MENU FOOTER*/
  .menuFooter ul {
    flex-direction: column;
  }
  .menuFooter ul li {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
}
/*MOVIL*/
@media only screen and (max-width: 500px) {
  /*HOME*/
  .sectionHome {
    width: 100%;
  }
  .sectionHome > h2 {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .tarjeta {
    flex-direction: column;
  }
  .fotoTarjeta {
    max-width: 100%;
  }
  .parrafoTarjeta {
    max-width: 90%;
    padding: 0;
  }
  .parrafoTarjeta h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .bicicletas {
    flex-direction: column;
  }
  .imagenGrid {
    width: 90%;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
  }
  .titulo {
    font-size: 1.6rem;
  }
  /*PRODUCTO*/
  .textoProducto {
    width: 100%;
    padding: 1em;
  }
  /* FOOTER*/
  .menuFooter ul {
    flex-direction: column;
  }
  .menuFooter ul li {
    font-size: 0.9rem;
    margin: 0.8rem;
  }
  .rrss {
    flex-direction: column;
    justify-self: center;
    height: 70%;
  }
  .rrss i {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
