/*CARDS*/

.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    animation-name: cmBg;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
}

.parrafoTarjeta {
  @include boxBorder(1em, 20px);
  max-width: 600px;
  text-align: justify;
  line-height: 1.5rem;
}

.fotoTarjeta {
  margin: 1em;
  max-width: 45%;
  &:hover {
    opacity: 0.8;
  }
}
