/*CARDS*/

.servicio--tarjeta {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  &--foto {
    margin: 1em;
    max-width: 50%;
    &:hover {
      opacity: 0.8;
      border: 2px solid black;
    }
  }
  &--texto {
    @include boxBorder(1rem, none);
    background-color: $color-background;
    text-align: justify;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--titulo {
      border-bottom: 2px solid black;
    }
    &--parrafo {
      border-left: 2px solid black;
      @include boxBorder(0, 0.7rem);
      & > p {
        margin-bottom: 0;
      }
    }
  }
}
