/*CARDS*/

.servicio--tarjeta {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  &:hover {
    animation-name: cmBg;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  &--foto {
    margin: 1em;
    max-width: 50%;
    &:hover {
      opacity: 0.8;
    }
  }
  &--texto {
    @include boxBorder(1rem, none);
    background-color: $color-background;
    text-align: justify;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--titulo {
      border-bottom: 2px solid black;
    }
    &--parrafo {
      border-left: 2px solid black;
      padding: 0.8rem;
      margin: 0;
      & > p {
        margin-bottom: 0;
      }
    }
  }
}
