/*TABLET*/
@media only screen and (min-width: 501px) and (max-width: 960px) {
  /*RESET*/
  * {
    font-size: 16px;
  }

  /*HOME*/
  .sectionHome {
    width: 100%;
    &--texto > h2 {
      font-size: 0.9rem;
      font-weight: 600;
    }
    & > p {
      font-size: 0.9rem;
    }
  }
  .imagen--home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > img {
      border-radius: 5px;
      width: 100%;
    }
  }
  .contenedor--breadcrumb {
    margin-left: 20px;
    font-size: 0.8rem;
  }
  .servicio--tarjeta {
    flex-direction: column;
    &--foto {
      max-width: 100%;
    }
    &--texto {
      &--titulo {
        padding: 1rem;
      }
      &--parrafo {
        max-width: 90%;
        box-shadow: none;
        padding: 3rem;
      }
    }
  }
  .titulo {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    position: relative;
    color: $color-globaltext;
    top: 0px;
  }

  /*PRODUCTO*/
  .producto {
    margin: 1em auto;
    width: 80%;
    padding: 1em;
    &--logo {
      & > img {
        max-width: 20%;
      }
    }
    &--foto {
      & > img {
        max-width: 70%;
      }
    }
  }

  /*FORMULARIO*/

  .contact {
    max-width: 90%;
  }

  /*MENU FOOTER*/
  .menuFooter ul {
    flex-direction: column;
    li {
      font-size: 0.9rem;
      margin: 0.8rem;
    }
  }
}
