/*MOVIL*/
@media only screen and (max-width: 500px) {
  .cabeceraContenedor {
    a {
      img {
        @include sizes(none, 11rem);
      }
    }
  }
  /*RESET*/
  * {
    font-size: 14px;
  }
  /*HOME*/
  .sectionHome {
    width: 100%;
    &--texto > h2 {
      font-size: 0.9rem;
      font-weight: 600;
    }
    & > p {
      font-size: 0.8rem;
    }
  }
  .imagen--home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > img {
      border-radius: 2px;
      height: 200px;
    }
  }
  .contenedor--breadcrumb {
    margin-left: 5px;
    font-size: 0.8rem;
  }
  .servicio--tarjeta {
    flex-direction: column;
    &--foto {
      max-width: 100%;
    }
    &--texto {
      &--titulo {
        padding: 1rem;
      }
      &--parrafo {
        max-width: 90%;
        box-shadow: none;
        padding-left: 1rem;
      }
    }
  }
  .bicicletas {
    flex-direction: column;
  }
  .imagenGrid {
    width: 90%;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
  }
  .titulo {
    top: 0px;
    font-size: 1.3rem;
    position: relative;
    color: $color-globaltext;
  }

  /*PRODUCTO*/
  .producto {
    width: 100%;
    padding: 1em;
    margin: 1em auto;
    &--logo {
      & > img {
        max-width: 20%;
      }
    }
    &--foto {
      & > img {
        max-width: 100%;
      }
    }
  }
  /*FORMULARIO CONTACTO*/
  .contact {
    max-width: 90%;
  }

  /* FOOTER*/
  .menuFooter ul {
    flex-direction: column;
    li {
      font-size: 0.9rem;
      margin: 0.8rem;
    }
  }
  .rrss {
    flex-direction: column;
    justify-self: center;
    height: 70%;
    i {
      font-size: 1.5rem;
    }
  }
}
