/*HOME*/
.contenido-principal {
  grid-area: contenido-principal;
  margin-top: 3rem;
  grid-row: 2/5;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}
/*BREADCRUMB*/
.contenedor--breadcrumb {
  margin-left: 60px;
  font-size: 0.8rem;
}
.breadcrumb-item {
  font-size: 0.8rem;
  & > a {
    font-size: 0.8rem;
    color: $color-globaltext;
  }
}

.titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  animation-name: tracking-in-expand;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: both;
  &--home {
    @extend .titulo;
    position: absolute;
    color: white;
    top: 30px;
  }
}

.fotoHome {
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  > img {
    min-width: 100vw;
    border-radius: 15px;
  }
}
.sectionHome {
  width: 80%;
  @include boxBorder(1.5rem auto, 1rem);
  display: flex;
  flex-direction: column;
  &--texto {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #e7e4e7;
    padding: 1.8rem;
    & > h2 {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
  }
  & > p {
    margin: 1rem;
    text-align: justify;
  }
}

.buttonHome {
  text-align: center;
}

.boton {
  background-color: #016fb9;
  text-shadow: 0px 1px 0px #8bbcdc;
  color: white;
  box-shadow: 10px 10px 72px 1px #8c8c8cbf;

  &:hover {
    animation-name: botonhome;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
