/*HOME*/

.contenido-principal {
  grid-area: contenido-principal;
  margin-top: 3rem;
  grid-row: 2/5;
  grid-column: 1/3;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  animation-name: tracking-in-expand;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-direction: both;
}

.fotoHome {
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    min-width: 100vw;
    border-radius: 15px;
  }
}

.sectionHome {
  width: 75%;
  @include boxBorder(1.5rem auto, 2rem);

  h2 {
    background-color: #e7e4e7;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 2rem;
  }
}

.parrafoHome {
  text-align: justify;
}

.buttonHome {
  text-align: center;
}

.boton {
  background-color: #016fb9;
  text-shadow: 0px 1px 0px #8bbcdc;
  color: white;
  box-shadow: 10px 10px 72px 1px #8c8c8cbf;

  &:hover {
    animation-name: botonhome;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
